html {
    overflow-y: scroll;
}
body {
    border: 40px solid #C3C3C3;
    font-family: "Open Sans","liberation sans","Myriad ","Bitstream Vera Sans","Lucida Grande","Luxi Sans","Trebuchet MS",helvetica,verdana,arial,sans-serif;
    margin: 0;
    padding: 0 10px;
}
a:focus {
    outline: medium none;
}
.lang_top_box {
    padding-left: 32px;
    padding-right: 33px;
}
.langauge_banner {
    border: 1px solid #C3C3C3;
    height: 100px;
    margin-bottom: 10px;
}
.popular_books {
    background-color: #787878;
    height: 50px;
}
.lang_bottom_box {
    background-color: white;
    height: 100%;
    margin-left: 240px !important;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    position: relative;
    top: 0;
}
body[dir="rtl"] .lang_bottom_box {
    margin-left: 0 !important;
    margin-right: 240px !important;
}

.side_products {
    background-color: #F5F5F5;
    color: #555555;
    float: left;
    padding-top: 20px;
    position: relative;
    width: 240px;
}
body[dir="rtl"] .side_products {
    float: right;
}
.side_products div.link {
    font-size: 12px;
    line-height: 1em;
}
.side_products div.link a {
    color: #333333;
    display: block;
    padding-left: 25px;
    text-decoration: none;
}
body[dir="rtl"] .side_products div.link a {
    padding-left: 0;
    padding-right: 25px;
}
.side_products div.link a.active {
    background-color: #333333;
    color: #EEEEEE;
    margin: 0;
    position: relative;
}
.side_products div.link a.active {
    color: #EEEEEE;
    position: relative;
box-shadow: 0 0 2px black;
}

.main_content {
    clear: both !important;
    position: relative;
}
/* BUGBUG removing this breaks the body layout */
.main_content:after {
    clear: both;
    content: "";
    display: block;
    height: 2px;
    width: 100%;
}
.bottom_products {
    display: block;
    font-size: 1.4em;
    margin-top: 20px;
}
.bottom_products .title {
    text-align: center;
}
.bottom_products .title span {
    background-color: #FFFFFF !important;
    color: #999999 !important;
}
.bottom_versions {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.bottom_products .bottom_versions {
    margin-left: 0px;

}

.product_bottom_box {
}
.product_top_box, .version_top_box {
    color: #555555;
    font-size: 16px;
    min-height: 100px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
.version_top_box .para, .product_top_box .para, .product_top_box .formalpara {
    margin-bottom: 10px;
}
.product_top_box h5 {
    font-size: 18px;
}
.version_bottom_box {
}
.book_top_box {
    height: 100px;
    margin-bottom: 10px;
}
.book_bottom_box {
    min-height: 200px;
}
.book_versions {
    float: left;
    margin: 0;
    width: 45%;
}
body[dir="rtl"] .book_versions {
    float: right;
}
.book_version {
    background-color: #A3A3A3;
    float: left;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 50%;
}
body[dir="rtl"] .book_version {
    float: right;
}
.book_formats {
    background-color: #111111;
    float: right;
    margin: 0;
    padding: 20px;
    width: 100px;
}
body[dir="rtl"] .book_formats {
    float: left;
}
.book_formats div {
    margin-bottom: 20px;
}
.book_formats a {
    color: white;
    margin-bottom: 20px;
}

.untranslated, .srcnewer {
    font-style: italic;
}

.untranslated span, span.srcnewer {
    margin-left: 10px;
    opacity: 0.5;
    padding-right: 5px !important;
}

body[dir="rtl"] .untranslated span, body[dir="rtl"] span.srcnewer {
    margin-left: 0;
    margin-right: 10px;
    padding-left: 5px !important;
    padding-right: 0 !important;
}
.hidden {
    display: none;
}
.version_tabs {
    height: 42px;
    width: 99%;
}
.version_tabs .link {
    box-shadow: 0 0 2px white;
    color: #555555;
    display: inline-block;
    float: right;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}
body[dir="rtl"] .version_tabs .link {
    float: left;
}
.version_tabs .link a {
    background-color: #666666;
    display: block;
    padding: 5px 10px;
}
.version_tabs .link a.active {
    background-color: #333333;
    color: #EEEEEE;
    position: relative;
}
.bottom_products span, .bottom_products span a, .bottom_products {
    margin: 0;
    padding: 0;
}
body {
    background-color: #EEEEEE;
    border: medium none;
    color: #1a1a1a;
    font-size: 16.8px;
    line-height: 25.2px;
    padding-top: 32px;
}
body > #wrapper {
    background-color: #FFFFFF;
    box-shadow: 0 0 0 1px #AAAAAA, 0 0 5px 0 #AAAAAA;
    margin: 0 auto;
    max-width: 90em;
}
body[dir="rtl"] > #wrapper {
    box-shadow: 0 1px 0 0 #AAAAAA, 0 0 5px 0 #AAAAAA;
}
.langauge_banner {
    color: #FFFFFF;
    height: 16em;
    margin: 0;
    vertical-align: middle;
    width: 100%;
}
.popular_books {
    color: #FFFFFF;
    height: 6em;
    text-align: center;
}
.bottom_products .title span {
}
.bottom_products > .title a {
    color: #999999;
    font-size: 30px;
    text-decoration: none;
    top: 0 !important;
}
.bottom_products > .title a:hover {
    color: #333333;
}
.bottom_versions > .title a {
    color: #666666;
    font-size: 2em;
    padding-left: 0.5em;
    text-decoration: none;
}
body[dir="rtl"] .bottom_versions > .title a {
    padding-right: 0.5em;
}
body > #wrapper {
    max-width: 70em !important;
}
body > #wrapper h1 {
    font-weight: normal;
    padding-top: 20px;
    text-align: center;
    line-height: 1.1em;
    margin-top: 0;
}
body > #wrapper .product_top_box h1 {
    font-size: 26px;
    text-align: left;
    padding-top: 0px;
}

body > #wrapper h2 {
    margin-top:2em;
    margin-bottom: 1em;
    font-weight: normal;
}
body > #wrapper .book_top_box {
    margin: 2em auto;
    max-width: 56em;
    text-align: center;
}
.book_formats {
    background-color: transparent;
    margin: 0;
    padding: 0 1em 0 0;
    position: relative !important;
    text-align: center;
    width: 100% !important;
}
body[dir="rtl"] .book_formats {
    padding: 0 0 0 1em;
}
.book_formats div {
    display: inline;
    position: relative !important;
}
.book_formats div a {
    background-color: #777777;
    display: block;
    float: right;
    height: 128px;
    line-height: 179px;
    margin: 0.52em;
    position: relative !important;
    text-align: center;
    text-decoration: none;
    width: 12.5555%;
}
body[dir="rtl"] .book_formats div a {
    float: left;
}
.book_versions {
    border-bottom: 1px solid #CCCCCC;
    float: none;
    height: 48px;
    margin-bottom: 1em;
    position: relative;
    width: 100%;
}
.book_version {
    background-color: #EEEEEE;
    border: medium none;
    height: 48px;
    line-height: 48px;
    margin: 0 !important;
    padding: 0;
}
.bottom_books {
    -moz-box-sizing: border-box !important;
    display: inline;
    float: left;
    font-size: 12px;
    height: 68px;
    margin: 0;
    max-width: 50%;
    min-width: 50%;
    overflow: hidden;
    padding: 0 2em 0 0;
}
body[dir="rtl"] .bottom_books {
    float: right;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2em;
    padding-right: 0;
}
.bottom_books a {
    color: #333333;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    margin: 16px 0 0 !important;
    padding-right: 1px;
    position: relative;
    text-decoration: none !important;
    z-index: 6;
}
body[dir="rtl"] .bottom_books a {
    padding-left: 1px;
}
.bottom_books .subtitle {
    color: #666666;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
    margin-top: 5px;
}
.bottom_versions div:nth-child(2n) a {
}
.langauge_banner, .popular_books {
    border: medium none !important;
}
.popular_books {
    background-color: #DDDDDD;
    height: 128px;
    line-height: 128px;
    margin-bottom: 48px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
div.version_tabs {
}
.version_tabs {
    margin: 18px 0;
}
.version_tabs span {
    background-color: transparent;
}
.version_tabs span a {
    min-width: 3em;
    text-align: center;
    text-decoration: none;
}
.version_tabs span a:hover {
    color: #000000;
}
.langauge_banner {
    color: rgba(0, 0, 0, 0.4);
    height: 240px;
    text-shadow: 0 1px 1px #000000;
}
.side_products div.link, .side_products div.link a {
    color: #999999;
    cursor: pointer;
    display: block !important;
}
.side_products div.link a {
    padding-bottom: 6px;
    padding-top: 6px;
}
#slider {
    display: block;
    height: 100%;
    position: relative;
}
.slider_item {
    background-color: orange;
    height: 100%;
    vertical-align: middle;
}
.slider_link {
    display: block;
    height: 100%;
    position: relative;
    text-decoration: none;
}
.slider_title {
    color: white;
    display: block;
    font-size: 30px;
    position: relative;
}
.slider_body {
    color: white;
    font-size: 16px;
    line-height: 22px;
    margin-left: 5%;
    padding-top: 10px;
    position: relative;
    width: 95%;
}
.slider_wrapper {
    height: 100%;
    left: 48%;
    margin: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 660px;
}
.slider_wrapper2 {
    left: -50%;
    position: relative;
    top: -25%;
}
.jcarousel-container {
}
.jcarousel-container:hover .jcarousel-prev-horizontal {
    opacity: 0.4;
}
.jcarousel-container:hover .jcarousel-next-horizontal {
    opacity: 0.4;
}
.jcarousel-direction-rtl {
    direction: rtl;
}
.jcarousel-container-horizontal {
    height: 100%;
    width: 100%;
}
.jcarousel-container-vertical {
    height: 245px;
    padding: 40px 20px;
    width: 75px;
}
.jcarousel-clip {
    overflow: hidden;
}
.jcarousel-clip-horizontal {
    height: 100%;
    width: 100%;
}
.jcarousel-clip-vertical {
    height: 245px;
    width: 75px;
}
.jcarousel-item {
    width: 75px;
}
.jcarousel-item-horizontal {
    margin-left: 0;
    margin-top: 0px;
}
.jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-right: 0;
}
.jcarousel-item-vertical {
    margin-bottom: 10px;
}
.jcarousel-item-placeholder {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
.jcarousel-next-horizontal {
    background-color: #DDDDDD;
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: -32px;
    top: 0;
    width: 32px;
}
.jcarousel-next-horizontal:after {
    border-color: transparent transparent transparent #999999;
    border-style: inset;
    border-width: 10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -3px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 0;
}
.jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: -32px;
    right: auto;
}
.jcarousel-next-horizontal:hover, .jcarousel-next-horizontal:focus {
    opacity: 0.8 !important;
}
.jcarousel-next-horizontal:active {
    background-position: -64px 0;
}
.jcarousel-next-disabled-horizontal, .jcarousel-next-disabled-horizontal:hover, .jcarousel-next-disabled-horizontal:focus, .jcarousel-next-disabled-horizontal:active {
    background-color: pink;
    background-position: -96px 0;
    cursor: default;
}
.jcarousel-prev-horizontal {
    background-color: #DDDDDD;
    cursor: pointer;
    height: 100%;
    left: -32px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 32px;
}
.jcarousel-prev-horizontal:after {
    border-color: transparent black transparent transparent;
    border-style: inset;
    border-width: 10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -15px;
    margin-top: -10px;
    opacity: 1 !important;
    position: absolute;
    top: 50%;
    width: 0;
}
.jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: -32px;
}
.jcarousel-prev-horizontal:hover, .jcarousel-prev-horizontal:focus {
    opacity: 1 !important;
}
.jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}
.jcarousel-prev-disabled-horizontal, .jcarousel-prev-disabled-horizontal:hover, .jcarousel-prev-disabled-horizontal:focus, .jcarousel-prev-disabled-horizontal:active {
    background-color: pink;
    background-position: -96px 0;
    cursor: default;
}
}
.bottom_versions {
    background-color: white;
    float: left;
    line-height: 1.3em;
    min-width: 80%;
    padding: 10px 40px 40px !important;
    position: relative;
}
body[dir="rtl"] .bottom_versions {
    float: right;
    padding: 10px 40px 40px !important;
}
.product_bottom_box .bottom_versions {
    display: block;
    min-width: 91.5%;
}
.footer {
    display: block;
    float: left;
    width: 100%;
}
body[dir="rtl"] .footer {
    float: right;
}
.menu_embeded #title.hidden {
    display: block;
}

body, html {
    height: 100%;
}
.visible {
    display: block !important;
}
.hidden {
    display: none !important;
}


.grouper {
    margin-bottom: 2em;
}

.groups {
    margin-top: 5px;
}
.group {
}

.group span {
    font-size: 16px;
    display: block;
    float: left;
    width: 100%;
}
body > #wrapper .group h2 {
    font-size: 18px;
    text-align: left;
    display: block;
    width: 100%;
    margin: 0px;
    font-weight: bold;
}

.groups span.link {
    font-size: 13px;
    color: #777;
    background-color: #cccccc;
    display: inline-block;
    padding: 0px 5px ;
    cursor: pointer;
    margin: 0px;
}

/* BUGBUG this really needs merging :( */

.version_tabs {
    font-size: 0;
    height: auto;
    margin: 0;
    text-align: right;
}
.version_tabs .link {
    background-color: #666;
    color: #EEE;
    float: none;
    font-size: 18px;
    padding: 5px 10px;
}
a.rss.link {
    background: none repeat scroll 0 0 transparent;
    color: #ff6600;
}
#wrapper > a.rss.link {
    float: right;
    margin-right: 1em;
}
.groups span.active,
.version_tabs span.active {
    background-color: #333;
    box-shadow: 0 0 2px black;
    color: #EEE;
}
.bottom_products .article {
    margin-top: 2em;
}
.bottom_books {
    border-bottom: 1px solid #e0e0e0;
    display: block;
    float: none;
    height: auto;
    margin-bottom: 1em;
    max-width: 100%;
    padding: 0;
    width: 100%;
}
.formats {
    color: black;
    display: inline;
    float: right;
    margin: -28px 0 0;
    padding: 0;
}
.bottom_books .titles {
    padding-bottom: 4px;
}
.bottom_books .titles a, .bottom_books a {
    margin-bottom: 8px;
    margin-top: 2px;
}
.bottom_books .formats a {
    color: #666;
    display: inline;
    font-size: 14px;
}
.side_products div.link a.active:after {
    border: medium none;
}
.side_products, .side_products div.link a {
    background-color: white;
}
.side_products div.link a {
    background-color: #666;
    color: #EEE;
}
.side_products div.link a.active {
    background-color: 333;
    box-shadow: 0 0 2px black;
    color: #EEE;
}
.product_bottom_box {
    padding: 10px;
}
.product_bottom_box .bottom_versions {
    margin-bottom: 40px;
    margin-left: 40px;
    padding: 0;
}
.product_bottom_box .bottom_versions .title {
    background-color: #666;
    color: #EEE;
    margin-bottom: 20px;
}
.menu .bottom_versions .title span, .product_bottom_box .bottom_versions > .title a {
    background-color: #666;
    color: #EEE;
}
.bottom_versions.section {
    min-width: 100%;
    padding: 0;
}
.bottom_products .splash {
    margin: 1em;
    text-align: center;
}
.side_products div.link {
    font-weight: bold;
}
.splash div {
    margin-bottom: 1em;
}
.splash .title {
    font-weight: bold;
}
.splash li div {
    margin-bottom: 0;
}
.formats a {
    font-family: "FontAwesome";
}
body {
    padding: 32px 0 0;
}

