#!/bin/bash

# Available products
products=("Qlustar Cluster OS")

# Global Qlustar publican defs
QL_LANG=en-US
QL_DTDVER=5.0
QL_WEB_STYLE=2
QL_WEBSITE_TITLE="Qlustar Docs"
QL_BRAND=qlustar
FORMATS=html-single

# Portal defs
QL_PORTAL_NAME="Qlustar_Docs_Home"

# Product defs
QL_PRODUCT_DIR="${PWD}/products"

# Website defs
WEB_DIR=website
WEB_CFG=qlustar-docs

# Defs for remote web sites
# -------------------------
# Default site (alias)
WEB_SITE_ALIAS=DEVKYOTO

# dev site
QL_DEV_HOST=ql-web-ud
QL_DEV_PATH=/var/www/qlustar-docs
QL_DEV_SITE="http://docs-dev.qlustar.com"

# prod site
QL_PROD_HOST=qlustar1
QL_PROD_PATH=/var/www/qlustar-docs
QL_PROD_SITE="https://docs.qlustar.com"

QL_DEVKYOTO_HOST=192.168.0.9
QL_DEVKYOTO_PATH=/home/senda/testweb/qlustar-doc-site/_site
QL_DEVKYOTO_SITE="http://192.168.0.9:50080"

# Publican settings
publican_brand_path=/usr/share/publican/Common_Content/common
